@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@100;200;400;900&family=Rubik+Glitch&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-repeat: repeat;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2250%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%20fill%3D%22none%22%3E%0A%20%20%3Crect%20width%3D%2250%22%20height%3D%2250%22%20fill%3D%22none%22%2F%3E%0A%20%20%3Ccircle%20cx%3D%2250%25%22%20cy%3D%2250%25%22%20r%3D%222%22%20fill%3D%22%23D6D6D6%22%2F%3E%0A%3C%2Fsvg%3E");
    color: #333333;
}

[class = "dark"] body{
    background-color: #333333;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2250%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%20fill%3D%22none%22%3E%0A%20%20%3Crect%20width%3D%2250%22%20height%3D%2250%22%20fill%3D%22none%22%2F%3E%0A%20%20%3Ccircle%20cx%3D%2250%25%22%20cy%3D%2250%25%22%20r%3D%222%22%20fill%3D%22%234D4D4D%22%2F%3E%0A%3C%2Fsvg%3E");
    color: #FCFCFC;
}

* {
    /* border:1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

